<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ThePickleHub</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.574564887581-qhno3m28725a9c0c91tl2qp71fdv0lli</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GIDClientID</key>
	<string>574564887581-qhno3m28725a9c0c91tl2qp71fdv0lli.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>799212701204-pnak3bsb956b9n8mfttct7r3uhmuphqp.apps.googleusercontent.com</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<true/>
	</dict>
	<key>SupabaseAnonKey</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SupabaseProjectRef</key>
	<string>$(SUPABASE_PROJECT_REF)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Geist-Regular.ttf</string>
		<string>Geist-Medium.ttf</string>
		<string>Geist-SemiBold.ttf</string>
		<string>Geist-Bold.ttf</string>
		<string>GeistMono-Medium.ttf</string>
		<string>GeistMono-SemiBold.ttf</string>
		<string>GeistMono-Bold.ttf</string>
		<string>InstrumentSerif-Regular.ttf</string>
		<string>InstrumentSerif-Italic.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
